/* App.css — Classy & Chic Layout */

body {
  margin: 0;
  padding: 0;
  background-color: #bbbbbb;
  font-family: 'Poppins', sans-serif;
  color: #2c2c2c;
}

#root {
  min-height: 100vh;
  
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 16px;
}

.dark-mode .dark-toggle-btn {
  color: #f5f5f5;
}
body.dark-mode {
  background-color: #121212 !important; /* Koyu arka plan */
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.drawer .MuiDrawer-paper {
  
  background-color: #636363; /* Arka plan rengi */
  
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.drawer .MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.3); /* Arka plan karartma */
}

.checkout-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.checkout-button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.checkout-button:hover {
  background-color: #056105;
}
